<ul>
  <li>
    <%= @poptart.flavor %>
    <br>
    <%= @poptart.topping %>
  </li>
</ul>

<%= link_to 'Edit', edit_poptart_path(@poptart) %>
<%= link_to 'Delete', poptart_path(@poptart), method: :delete %>